<div class="container">
  <app-back-button></app-back-button>
  <mat-card class="detailed-task">
    <div class="detailed-task__left">
      <mat-card-header class="task-header">
        <mat-card-title>{{task.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="description-content">
                <p>{{task.description}}</p>
      </mat-card-content>
      <mat-card-actions class="task-buttons-group">
        <button mat-raised-button (click)="editTask(task)" color="primary">Edit</button>
        <button mat-raised-button (click)="deleteTask(task.id)">Delete</button>
      </mat-card-actions>
    </div>
    <div class="detailed-task__right">
      <mat-card-content class="task-details-group">
        <mat-card-subtitle class="details-subtitle">Deadline:</mat-card-subtitle>
        <div class="details">{{formatDate(task.deadline)}}</div>
        <mat-card-subtitle>Priority:</mat-card-subtitle>
        <div class="details">{{task.priority}}</div>
        <mat-card-subtitle>Assigned to:</mat-card-subtitle>
        <div class="details">{{getFullName(task.assignedTo)}}</div>
      </mat-card-content>

    </div>

  </mat-card>
</div>
