@import "../../../../assets/styles/colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .task-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 30px;
  }

  .task-card__left, .task-card__right {
    display: flex;
    flex-direction: row;
  }

  .task-card__right {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 8px;
  }

  .check-box {
    margin: 0 4px;
  }

  .task-name {
    width: 100%;
    text-decoration: none;
    color: #000;

    &:hover {
      cursor: pointer;
    }
  }

  .performer {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 100%;
    background: $default-grey;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
  }

  .date {
    width: 48px;
    height: 24px;
    margin: 0 4px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
  }

  .priority {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 100%;
    background: $default-grey;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
  }
}
