:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;

  h1 {
    text-align: center;
  }

  .add-task-form {
    display: flex;
    flex-direction: column;
  }

  .priority {
    width: 21%;
  }

  .assigned {
    width: 38%;
    margin: 0 5%;
  }

  .datepicker {
    width: 31%;
  }

  .dialog-buttons-group {
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;

    button {
      width: 82px;
    }
  }
}
