<h1 mat-dialog-title>{{titleName}}</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm" class="add-task-form">
    <mat-form-field class="task-name">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="add-selects-group">
      <mat-form-field class="priority">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority.key">{{priority.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="assigned">
        <mat-label>Assigned to</mat-label>
        <mat-select formControlName="assignedTo" [compareWith]="compareFn">
          <mat-option *ngFor="let performer of performers" [value]="performer">{{getFullName(performer)}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="datepicker">
        <mat-label>MM/DD/YYYY</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="deadline">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-buttons-group">
  <button mat-raised-button color="primary" [disabled]="taskForm.invalid" [mat-dialog-close]="taskForm.value">Save
  </button>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
</div>
